* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
}
header {
    background: #eff0f2;
    width: 100%;
    height: 700px;
}
.menu {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.menu i {
    font-size: 30px;
}
.menu p, .menu i {
 margin: 50px 50px;
 transition: 1s;
}
.menu p, .menu i:hover {
    transform: scale(2);
    transform: rotateZ(360deg);
}
.menu p {
    padding: 5px 10px ;
    border: 4px solid black;
}
.menu b {
    color: blue;
}
.show h1 {
    text-align: center;
    margin-top: 10px;
    color: #505050;
}
.but1 {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.but1 a {
    transition: 1s;
}
.but1 a:hover {
    background: #6eeee4;
    transform: scale(1.3);
    border: 0;
}
 .show a {
    text-align: center;
    font-size: 20px;
    padding: 15px 50px;
    border: 3px solid #505050;
}
.imgZ img {
    margin-left: 75%;
}
.sect1 {
    margin-top: 120px ;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.sect1 h3 {
    font-size: 20px;
    color: #848585;
    margin-top: 15px;
    font-weight: normal;
}
.sect2 {
    display: flex;
    justify-content: space-around;
}
.s2l {
width: 30%;
text-align: center;
}
.s2l form {
 margin-top: 15px;
}
.s2r {
 width: 40%;
 
}
.s2r h3 {
    font-size: 25px;
    margin: 20px 0;
    margin-top: 40px;
}
.s2r p {
    font-size: 18px;
    margin: 30px 0;
    color: #919393;
}
hr {
    margin-top: 30px;
    color: #f8fafa;
}
.sect3 {
    margin-top: 130px;
}
.sect3 p {
  font-size: 36px;
  text-align: center;
}
.sect3 h3 {
    font-size: 20px;
    color: #888888;
    text-align: center;
    margin-top: 15px;
}
.s3img {
    width: 90%;
    margin: 0 auto;
}
.row1 {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
}
.row2 {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.row3 {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.sect4 {
    width: 100%;
    margin-top: 120px;
    background: #f9fbfb;
    padding-bottom: 120px;
}


.sect4 p {
    padding-top: 120px ;
    font-size: 36px;
    text-align: center;
  }
  .sect4 h3 {
      font-size: 20px;
      color: #888888;
      text-align: center;
      margin-top: 15px;
  }
.serv {
    width: 90%;
    margin: 0 auto;
    margin-top: 120px;
}
.serv1 {
    width: 48%;
    background: #71f5ea;
    height: 400px;

}

.serv1 p {
    font-size: 16px;
    text-align: left;
    padding-top: 40px;
    margin-left: 70px;
    margin-right: 50px;
    line-height: 30px;
    color: #336f6a;

}
.serv1 h2 {
    font-size: 20px;
    margin-top: 60px;
    margin-left: 70px;
}
.serv1 i {
    margin-top: 80px;
    font-size: 30px;
    margin-left: 70px;
}
.serv2 {
    width: 48%;
    height: 400px;

}
.serv3 {
    width: 48%;
    height: 400px;

}
.serv4 {
    width: 48%;
    height: 400px;

}
.serv5 {
    width: 38%;
    margin-left: 10px;
}
.serv6 {
    width: 58%;
    margin-right: 10px;
}
.sect5 p {
    padding-top: 120px ;
    font-size: 36px;
    text-align: center;
  }
  .sect4 img:hover {
      transition: 1s;
      opacity: .5 ;
  }
  .sect5 {
      margin-top: 120px;
      padding-bottom: 120px;
  }
  .sect5 h3 {
      font-size: 20px;
      color: #888888;
      text-align: center;
      margin-top: 15px;
  }
  .r1 {
      width: 80%;
      margin: 120px auto;
      margin-bottom: 40px;
      display: flex;
      justify-content: space-around;
  }
  .r2 {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}
  
.sect6 {
    width: 100%;
    background: #f9fbfb;
}
.sect6 img {
    transition: 1s;
}
.sect6 img:hover {
    margin-top: 120px;
}
.sect6 p {
    padding-top: 120px ;
    font-size: 36px;
    text-align: center;
  }
  .sect6 h3 {
      font-size: 20px;
      color: #888888;
      text-align: center;
      margin-top: 15px;
  }
  .comment {
      width: 80%;
      margin: 0 auto;
      margin-top: 120px;
      display: flex;
      justify-content: space-between;
  }
  .comment1 form {
     text-align: center;
     margin-top: 30px;
  }
  .butcom   {
      width: 60px;
   font-size: 30px;
   margin-left: 10px;
   margin-left: 86%;
   padding-bottom: 120px;
  }
  .butcom i:hover {
      transform: scale(1.4);
      background: #6eeee4;
  }

  .comment2 {
    text-align: center;
    background: #eaebed;
    width: 60%;
    height: 440px;
}
  .comment2 h3 {
    display: inline-block;
    margin: 0 auto;
    padding-left:  60px;
    padding-top: 100px;
    color: black;
    font-weight: bold;
  } 
  .comment2 p {
      margin: 40px auto;
      margin-bottom: 15px;
      padding: 20px 90px;
      font-size: 20px;
      line-height: 40px;
  }
 .sect8 {
     width: 100%;
     height: 701px;
     background: url("img/bgfon.png");
     display: flex;
     justify-content: center;
    
 }
 .contact1 {
     width: 600px;
     height: 450px;
     background: #425460;
     opacity: .8;
     margin-top: 120px;
     display: flex;
     justify-content: center;
 }
 .contact1 textarea{
     background:#425460 ;
     border: 0;
     border-bottom: 3px solid #b3bbc0 ;
     font-size: 16px;
     color: white;
     overflow: auto;
     margin-top: 30px;
     
 }
 .contact1 input[type="text"] {
    background:#425460 ;
    border: 0;
    border-bottom: 3px solid #b3bbc0 ;
    font-size: 16px;
    color: white;
    margin-top: 40px;
    width: 455px;

 }
 .contact1 a {
    
     padding: 15px 40px;
     color: #425460;
     background: #6eeee4;
     font-weight: bold;
     position: relative;
     top: 50px;
 }

 .contact2 {
    width: 500px;
    height: 450px;
    background: #425460;
    opacity: .8;
    margin-left: 30px;
    margin-top: 120px;

}
.adress {
    width: 90%;
    margin: 0 auto;
}
.adress p {
    margin: 20px 0;
    color: #d4d6d8;
    line-height: 1.5;
}
.map {
    width: 90%;
    margin: 0 auto;
    transition: 1s;
}
.map:hover {
    transform: scale(1.2);
}
footer {
    width: 100%;
    height: 320px;
    background: #262b2e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow i {
    font-size: 30px;
    margin: 30px 30px;
    transition: 1s;
}
.follow i:hover   {
color: #6eeee4;
background:#6eeee4 ;
}
.follow p {
    color: silver;
}